*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr{
    color: white;
    width: 75vw;
    
}

body{
    background-color:black;
}

.container{
    display: flex;
    flex-direction: column;
}

.home_view{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    margin: -8;
    margin-bottom: 15px;
}

.header{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

#logo img{
    width: fit-content;
    height: 8.5vh;
}

.playerprofiles{
    display: flex;
    flex-direction: column;
}

.playerprofiles h2{
    color: white;
    font-family: "plaguard";
    margin-top: 0;
    margin-bottom: 0;
}

.playerprofiles p{
    font-size: 1.35em;
    vertical-align: middle;
}

#playername{
    display: flex;
}

#playername img{
    height: 1.35em;
    width: auto;
    margin-top: 3px;
    margin-bottom: 0;
    
}

#playername img:hover {
    filter: drop-shadow(0px 0px 10px #bdbdbd);
    transform: scale(1.1);
}


.imperialhal{
    margin:30px;
    margin-bottom: 45px;
}

.snipedown #playername{
    justify-content: end;
}

.imperialhal img{
    float: left;
    margin: 10px;
    width: 33vw;

}

.imperialhal p{
    color: white;
    text-align: center;
}

.snipedown{
    margin:30px;
    margin-bottom: 45px;
    
}

.snipedown h2{
    text-align: right;
}

.snipedown img{
    float: right;
    margin: 10px;
    width: 33vw;
}

.snipedown p{
    color: white;
    text-align: center;
}

.reps{
    margin:30px;
}

.reps img{
    float: left;
    margin: 10px;
    width: 33vw;
}

.reps p{
    color: white;
    text-align: center;
}

.achievements{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.achievements h2{
    text-align: center;
    font-family: "plaguard";
    color: white;
}

table{
    color: white;
    margin: auto;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

table a{
    color: white;
    text-decoration: none;
}

table a:hover{
    color:yellow;
}

.legendaryvideos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
}

.legendaryvideos.video.row1{
    flex-direction: row;
    justify-content: center;
}

.legendaryvideos.video.row2{
    flex-direction: row;
}

@media (max-width:768px){
    .imperialhal{
        margin:30px;
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
    }
    
    .imperialhal img{
        margin: auto;
        width: 33vw;
    }
    
    .imperialhal p,h2{
        color: white;
        text-align: center;
    }
    
    .snipedown{
        margin:30px;
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
    }
    
    .snipedown img{
        margin: auto;
        margin: 10px;
        width: 33vw;
    }
    
    .snipedown p,h2{
        color: white;
        text-align: center;
    }
    
    .reps{
        margin:30px;
        display: flex;
        flex-direction: column;
    }
    
    .reps img{
        margin: auto;
        width: 33vw;
        justify-self: center;
    }
    
    .reps p{
        color: white;
        text-align: center;
    }
}
