*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

hr{
    color: white;
    width: 60vw;
}

body{
    background-color:black;
}

.container{
    display: flex;
    flex-direction: column;
}

.home_view{
    background-image: url('/images/homeview.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    margin: -8;
    margin-bottom: 15px;
}

.header{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

#logo img{
    width: fit-content;
    height: 8.5vh;
}

.playerprofiles{
    display: flex;
    flex-direction: column;
}

.playerprofiles .playerimg img{
    margin: 10px;
    width: 33vw;
    margin-left: 20px;
    margin-right: 20px;
}

.playerprofiles h2{
    color: white;
    font-family: "plaguard";
    margin-top: 0;
    margin-bottom: 0;
}

.playerprofiles p{
    font-size: 1.35em;
    vertical-align: middle;
}

#playername{
    display: flex;
}

#playername img{
    height: 1.35em;
    width: auto;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 8px; 
    margin-right: 8px;
}

#playername img:hover {
    filter: drop-shadow(0px 0px 10px #9b9b9b);
    transform: scale(1.1);
}

.imperialhal{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.imperialhal p{
    color: white;
    text-align: center;
}

.snipedown{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.snipedown h2{
    text-align: right;
}

.snipedown .playerimg img{
    float: right;
    margin: 10px;
    width: 33vw;
    margin-left: 20px;
    margin-right: 20px;
}

.snipedown #playername{
    justify-content: end;
}

.snipedown p{
    color: white;
    text-align: center;
}

.reps{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.reps p{
    color: white;
    text-align: center;
}

.achievements{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.achievements h2{
    text-align: center;
    font-family: "plaguard";
    color: white;
}

table{
    color: white;
    margin: auto;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 30px;
}

table a{
    color: white;
    text-decoration: none;
}

table a:hover{
    color:yellow;
}

.legendaryvideos{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

.legendaryvideos iframe{
    height: 315px;
    width: 560px;
}

.legendaryvideos .row1{
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.legendaryvideos .row2{
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.legendaryvideos .row3{
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width:992px) and (max-width:1200px) {
    .legendaryvideos{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
    }
}

@media (min-width:768px) and (max-width:991px){
    .legendaryvideos{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
    }

}

@media (max-width:767px){
    .playerprofiles .playerimg img{
        margin: 10px;
        width: 33vw;
        margin-left: auto;
        margin-right: auto;
    }

    .imperialhal{
        flex-direction: column;
    }

    .imperialhal .playerimg img{
        width:100%;
    }
    
    .snipedown{
        flex-direction: column;
    }

    .snipedown .playerimg img{
        width:100%;
    }

    #playername{
        justify-content: center;
    }

    .snipedown #playername{
        flex-direction: row-reverse;
        justify-content: center;
    }

    .reps{
        flex-direction: column;
    }

    .reps .playerimg img{
        width:100%;
    }

    .legendaryvideos{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
    }
}

@media (max-width:600px){
    .legendaryvideos iframe{
        height: auto;
        width: 300px;
    }
}
